html {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

body {
  font-size: 1em;
  font-family: "Open Sans", "Arial", sans-serif;
  width: 100%;
  min-height: 100vh;
  color: black;
  margin: 0.3rem;
}

header {
  position: sticky;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  background-color:white;
  padding-bottom: 25px;
}

#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-img {
  height: 80px;
}

#nav-bar ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style: none;
  flex-shrink: 0;
}

#nav-bar a {
  padding: 0.5rem;
  text-decoration: none;
  color: black;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 600;
}

#nav-bar a:hover {
  color:deepskyblue;
}



ul {
  margin-top: 0.1rem;
}

h1, h2, h3 {
  font-family: "Lobster", "Brush Script MT", cursive;
  color: darkcyan;
  text-align: center; 
  margin-bottom: 0.4em;
  margin-top: 0.4em; 
}

h1 {
  font-size: 6em;
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 3.2em;
  color:deepskyblue
  
}

#meet-dogs, #dogs-benefits, #in-action {
  scroll-margin-top: 6rem;
}
.dogs {
  display: flex;
  flex-direction: column;
}

.dogs h3 {
  text-align: center;
}

.dogs ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.dog-img {
  max-width: 90%;
  display: block;
  margin: 0 auto;
}

#video {
  display:block;
  margin: 0 auto; 
  max-width: 100%;
}

form {
  display: block;
  margin: 0 auto;
}

fieldset {
  border-style: hidden;
}

label, input, select {
  margin: 0.2rem 0;
}

label {
  display: block;
}

input, select {
  display: block;
  width: 100%;
}

#submit {
  background-color: deepskyblue;
  border-color: deepskyblue;
  border-radius: 10px;
  width: 100px;
  display: block;
  margin: 0.5rem auto;

}

@media (min-width: 500px) {

  html {
    margin-left: 6.25em;
    margin-right: 6.25em;
  }

  body {
    font-size: 1.25em;
  }

  h1 {
    margin-top: 0.67;
  }

  #header-img {
    height: 150px;
  }

  #nav-bar ul {
    flex-direction: row;
    font-size: 1.25em;
    }

  .dogs {
    flex-direction: row;
    justify-content: space-evenly;
  }

  

}